.login {
  width: 100%;
  height: 100vh;
  background-color: white;
  background: url(../../assets/politechnika_bg.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
