.item {
  display: flex;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 0.3rem;
  overflow: hidden; /* Keeps everything contained within the borders */
}

.item-image {
  width: 150px;
  height: auto;
  object-fit: cover;
}

.item-content {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  align-items: flex-start; /* Aligns content to the left under the image */
  flex-grow: 1;
}

.item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Ensures the header uses all available horizontal space */
}

.item-description {
  font-size: 13px;
  padding-top: 0.5rem;
}

.item img {
  max-width: 100%;
  max-height: 130px;
}

.item button {
  padding: 10px 20px;
  background-color: rgba(148, 148, 148, 0.486);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.item button:hover {
  opacity: 0.8;
  transform: scale(1.05);
  background-color: #770000;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
