.navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
}

.navbar img {
  height: 50px;
}

.login-button {
  padding: 10px 20px;
  background-color: #770000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
