.items-wrapper {
    max-height: 100%;
    flex: 5;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    padding: 2rem 5rem;
    background-color: rgb(249, 249, 249);

}