.items-section {
  min-height: 400px;
  background-color: white;
  display: flex;
  flex-direction: row;
}

.items-section__right {
  flex: 7;
  max-height: 100%;
  border-left: 1px solid lightgray;
  background-color: white;
  display: flex;
  flex-direction: column;
}
